/* Show it's not fixed to the top */
body {
  min-height: 75rem;
}

.navbar-brand{
  width: 5%;
}


img{
  width: 70%;
  margin-right: 1rem;
}

/* active-link{

  font-weight: 700;
  color: aqua;

} */
