<main>
  <div class="px-4 py-3 my-5 text-center" *ngIf="datosGit">
      <h1 class="display-5 fw-bold">{{datosGit.name}}</h1>
      <img class="d-block mx-auto mb-4 avatar" src="{{datosGit.avatar_url}}" alt="avatar">
      <h4 class="display-5">{{datosGit.login}}</h4>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">{{datosGit.bio}}</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" [routerLink]="['/ingreso']" class="btn btn-primary btn-lg px-4 gap-3">LOGIN</button>
        </div>
      </div>
    </div>
</main>
